body {
  margin: 0px;
  padding: 0px;
}

div.navheader {
  background-color: #c6bec6;
  padding-top: 2px;
  padding-right: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

td.headernode {
  font-size: 0.8em;
  font-family: sans-serif;
}

div.navfooter {
  background-color: #c6bec6;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 2px;
}

pre.screen,
pre.programlisting {
  background: #e8e8e8;
}

h1.sect1
{
  font-size: 2em;
  font-weight: normal;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: -10px;
  padding-bottom: 10px;
  padding-top: 0px;
}

div.question {
  background-color: #a7adba;
}

div.answer {
  padding-left: 15px;
}

div.section,
div.refentry,
div.preface,
div.chapter,
div.appendix,
div.reference,
div.part,
div.bibliography,
div.glossary,
div.index,
div.colophon,
div.legalnotice,
div.sect1,
div.book {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}