
 /* $MVD$:fontset("Verdana","Verdana","Arial","Times New I2") */
 P { font-family : "Verdana", "Arial", "Times New I2";
     font-style : normal;
     font-variant : normal;
     font-weight : normal;
     font-size : 10.0pt;
     text-decoration : none;}
 .mvd-P { font-family : "Verdana", "Arial", "Times New I2";
          font-style : normal;
          font-variant : normal;
          font-weight : normal;
          font-size : 10.0pt;
          text-decoration : none;}
 